<h1><%= @recipe.recipe %></h1>


<h2>Add ingredients:</h2>
<form action="/recipe/<%= @recipe.id %>/new_ingredient" method="post">
  <label for="ingredient">Add an ingredient</label>
  <input type="text" name="ingredient" id="ingredient" autocomplete="off" required>
  <button type="submit" class="btn btn-info">Add</button>
  <% if @ingredient_error %>
    <%= @ingredient_error %>
  <% end %>
</form>


<table>
  <col width="75%">
  <col width="20%">
  <col width="5%">
  <th>Ingredients</th>
  <th>Amount in grams</th>
  <th>Remove</th>

  <% @ingredients.each do |ingredient| %>
  <tr>
    <td><%= Amount.find_by({:ingredient_id => ingredient.id}).amount %>g <%= ingredient.ingredient %></td>
    <td><form action="/recipe/<%= @recipe.id %>/update_amount" method="post">
      <input type="hidden" name="ingredient_to_update" value="<%= ingredient.id %>">
      <input style="width: 50px;" type="number" name="amount" id="amount" autocomplete="off" required>
      <button type="submit" class="remove_ingredient_button">&#10004;</button>
    </form></td>
    <td><form action="/recipe/<%= @recipe.id %>/delete_ingredient" method=post id="ingredient_delete">
          <input name="_method" type="hidden" value="delete">
          <input type="hidden" name="ingredient_to_delete" value="<%= ingredient.id %>">
          <button type="submit" class="remove_ingredient_button">&#10005;</button>
        </form></td>
  </tr>
  <% end %>
</table>


<h2>Add instructions:</h2>
<form action="/recipe/<%= @recipe.id %>/new_instruction" method="post">
  <label for="instruction">Add instruction</label>
  <input type="text" name="instruction" id="instruction" autocomplete="off" required>
  <button type="submit" class="btn btn-info">Add</button>
</form>

<table>
  <col width="90%">
  <th>Instructions</th>
  <th>Remove</th>
  <% if @instructions_arr %>
    <% @instructions_arr.each do |instruction, index| %>
    <tr>
      <td><%= instruction %></td>
      <td>
        <form action="/recipe/<%= @recipe.id %>/delete_instruction" method=post id="instruction_delete">
          <input name="_method" type="hidden" value="delete">
          <input type="hidden" name="instruction_to_delete" value="<%= index %>">
          <button type="submit" class="remove_ingredient_button">&#10005;</button>
        </form>
      </td>
    </tr>
    <% end %>
  <% end %>
</table>


<h2>Add a tag to this recepie</h2>
<form action="/recipe/<%= @recipe.id %>/add_tag" method="post">
  <label for="tag">Add new tag:</label>
  <input type="text" name="tag" id="tag" autocomplete="off" required><br>
  <label for="tag">Select a tag:</label>
  <button type="submit" class="btn btn-info">Add tag</button>
</form>

<% if @tags %>
  <% @tags.each do |tag| %>
  <p><%= tag.tag %></p>
  <% end %>
<% end %>

<a href="/nutrition/<%= @recipe.id %>">Click here for nutrition information</a><br>

<a href="/">Return to recipe list</a>
